.trash-text{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: tomato;
}
.left{
  /* background-color: #3C4B64; */
}
.dnd{
  transform: translate(-50%,-50%);
  z-index: -1;
}